TEST_NET_VERIFIER_URL=https://test.dbcscan.io/api
MAIN_NET_VERIFIER_URL=https://www.dbcscan.io/api


PRIVATE_KEY=
PROXY_CONTRACT=


XAAIAO_OWNER=
XAAIAO_TOKEN_IN_CONTRACT=
XAAIAO_REWARD_TOKEN_CONTRACT=
XAAIAO_START_TIMESTAMP=
XAAIAO_PERIOD_DAYS=
XAAIAO_REWARD_AMOUNT=